

body {
    background-color: #6e19bd;
}

.background {
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100vh;
    background-image: url('/static/img/stars.svg');
    background-position: center;
    background-size: contain;
    position: absolute;
    animation: animationBackground 2s infinite ;
}

@keyframes animationBackground {
    0%{
        opacity: 0.4;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0.4;
    }
}

.container-login {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-login .container-shild-login{
    width: 20%;
    height: 50vh;
    border-radius: 10px;
    padding: 10px;
    background-color: #f0f0f0;
    z-index: 10;
}

.container-login .container-shild-login .container-title {
    width: 100%;
    height: 15%;
}

.container-login .container-shild-login .container-title h1{
    font-size: 1.6rem;
    font-weight: 500;
}

.container-login .container-shild-login .container-title p{
    font-size: 1rem;
    color: #7c7c7c;
}

.container-login .container-shild-login form{
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.container-login .container-shild-login form .inputs{
    width: 100%;
    height: 50%;
    margin-top: 5%;
}

.container-login .container-shild-login form .inputs .container-input{
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
}

.container-login .container-shild-login form .inputs .container-input input{
    width: 100%;
    height: 40%;
    padding-left: 5px;
    border: 1px solid #6e19bd;
    border-radius: 5px;
    color: #6e19bd;
    outline: none;
    font-size: 1.2rem;
}

.container-login .container-shild-login form  .container-file{
    width: 50px;
    height: 50px;
    color: #fff;
    border: none;
    border-radius: 10px;
    font-size: 1.2rem;
    background-color: #6e19bd;
    transition: .5s;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-login .container-shild-login form  .container-file:hover{
    cursor: pointer;
    background-color: #52148d;
}

.container-login .container-shild-login form  .container-file input{
    display: none;
}

.container-login .container-shild-login form  button{
    width: 100%;
    height: 15%;
    color: #fff;
    border: none;
    border-radius: 10px;
    font-size: 1.2rem;
    background-color: #6e19bd;
    transition: .5s;
}

.container-login .container-shild-login form  button:hover{
    cursor: pointer;
    background-color: #52148d;
}

.container-login .container-shild-login form .error-message{
    width: 100%;
    color: red;
    padding: 2px;
    margin-bottom: 2px;
    font-weight: bold;
    animation: errorAnimation 1s forwards;
}

@keyframes errorAnimation {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}